@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "A frame size and geometry comparison tool.";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>I like bikes. I like to ride them, and I also like to build them. Sometimes that means buying a frame I haven't test ridden. It's hard to visualize differences in between different frames and frame sizes simply by looking at geometry tables. This tool lets you see how two or more frames stack up.</p>
